# Idea's files and folders
.idea/
.idea_modules
/build
.gradle/
gradle/

# IntelliJ
out/
settings.gradle
gradlew.bat

# Compiled class file
*.class

# Log file
*.log

# Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml
gradle*

# Ignore Gradle GUI config
gradle-app.setting